.blink {
    animation: blink 3s infinite alternate;
  }
  
 @keyframes blink {
  50% {
    background-color: #4aec8c; /* Lighter shade of green */
  }
  100% {
    background-color: #12824f; /* Darker shade of green */
    border-color: #4aec8c; /* Lighter shade of green */
    box-shadow: inset 5px 5px 10px 2px #27543a, 0px 0px 15px 2px #27543a; /* Darker shadow */
  }
  0% {
    background-color: #27543a; /* Darker shade of green */
    border-color: #4aec8c; /* Lighter shade of green */
    box-shadow: inset 0px 0px 10px 10px #27543a, 0px 0px 5px 2px #4aec8c; /* Lighter shadow */
  }
}
